header(class={header: true, "header--logged": user})
  a.header__logo.logo(href='/')
    img.logo__image(src='/img/icons/logo-image-only.svg' alt='логотип Тайпотеки')
    span.logo__name Типотека
  if user
    if user.role === 'isAdmin'
      button(class="button button--colored header__button-new") Новая запись
      div(class="header__dropdown")
        a(href="#", class="button button--burger header__burger") Открыть меню
        ul(class="navigation header__navigation")
          li(class="navigation__item")
            a(href="main.html") Пункт меню
          li(class="navigation__item")
            a(href="main.html") Пункт меню
          li(class="navigation__item")
            a(href="main.html") Пункт меню
          li(class="navigation__item")
            a(href="main.html") Пункт меню
    else if user.role === 'isUser'
      nav(class="header__nav")
        ul(class="header__nav-list")
          li(class="header__list-item")
            p #{user.name}
          li(class="header__list-item")
            a(class="header__exit", href="/logout") Выйти
      a(class="header__avatar avatar")
        img(src=user.avatar, alt="аватар пользователя")
  else
    nav.header__nav
      ul.header__nav-list
        li.header__list-item
          a.header__registration(href='/register') Регистрация
        li.header__list-item
          a.header__enter(href='/login') Вход с паролем
  a.header__search.button.button--search(href='#' aria-label='поиск по сайту')
