header(class={header: true, "header--logged": user})
  a.header__logo.logo(href='/')
    img.logo__image(src='/img/icons/logo-image-only.svg' alt='логотип Тайпотеки')
    span.logo__name Типотека
  if user
    if user.role === 'admin'
      button(class="button button--colored header__button-new" onClick='location.href = "/articles/add"') Новая запись
      div(class="header__dropdown")
        a(href="#", class="button button--burger header__burger") Открыть меню
        ul(class="navigation header__navigation")
          li(class="navigation__item")
            a(href="/") Главная страница
          li(class="navigation__item")
            a(href="/my") Мои записи
          li(class="navigation__item")
            a(href="/category") Категории
          li(class="navigation__item")
            a(href="/my/comments") Комментарии
          li(class="navigation__item")
            a(href="/register") Регистрация
          li(class="navigation__item")
            a(href="/search") Поиск
          li(class="navigation__item")
            a(href="/logout") Выйти
    else if user.role === 'user'
      nav(class="header__nav")
        ul(class="header__nav-list")
          li(class="header__list-item")
            p #{user.name}
          li(class="header__list-item")
            a(class="header__exit", href="/logout") Выйти
      a(class="header__avatar avatar")
        if user.avatar
          img(src=`/img/${user.avatar}`, alt=user.name)
        else
          img()
  else
    nav.header__nav
      ul.header__nav-list
        li.header__list-item
          a.header__registration(href='/register') Регистрация
        li.header__list-item
          a.header__enter(href='/login') Вход с паролем
  a.header__search.button.button--search(href='/search' aria-label='поиск по сайту')
