extends ../layout.pug

block content
  main.articles-category
    h1 #{category.name}
    section.articles-category__theme-list
      include ../partials/theme-list.pug
    include ../partials/articles-preview.pug
    +pagination(page, totalPages, 1)
