extends layout.pug

block content
  main
    section.search-page
      div(class=(articles.length === 0 && typeof searchValue === 'string') ? 'search-page__wrapper search-page__wrapper--empty' : 'search-page__wrapper')
        h1 Поиск
        .search.search-page__form
          form(action='/search' method='get')
            label
              input(type='text' name='query' placeholder='Что ищем?')
            button.search__button.button.button--transparent(type='submit') Найти
          if articles && articles.length > 0
            each article in articles
              .search__result
                time.search__date(datetime=article.createdAt)
                  +formatDate(article.createdAt)
                a.search__link(href=`/articles/${article.id}`) !{article.title.replace(searchValue, `<b>` + searchValue + `</b>`)}
          if articles.length === 0 && typeof searchValue === 'string'
            p.search-page__empty Ничего не нашлось
